{% extends 'guest.html' %}
{% block content %}
<div class="prose prose-dark">
    <h1>{{ log.vm_name }}</h1>
    <h2>Detalles de Máquina Virtual</h2>
    <ul>
        <li>Plataforma: {{ log.platform }}</li>
        <li>Sistema Operativo: {{ log.operating_system }}</li>
        <li>Etiquetas: {{ log.tags }}</li>
        <li>Writeup creado el: {{ log.created_at }}</li>
    </ul>
    <h2>Writeup</h2>
    <style>
        pre {
            overflow-x: auto;
            white-space: pre-wrap;
        }
    </style>
    {{ log.html_writeup|safe }}
</div>
{% endblock %}